// Colors
$orange = #E36209;
$brownGrey = #666666;
$slateGrey = #5C646D;
$warmGrey = #999999;
$paleGrey = #E1E4E8;
$slateGreyTwo = #586069;
$white = #FFFFFF;
$whiteTwo = #E3E3E3;
$blueLink = #3598DB;

// Size screen
$tabletMax = 1024px;
$mobileMax = 768px;