$orange = #E36209;
$brownGrey = #666666;
$slateGrey = #5C646D;
$warmGrey = #999999;
$paleGrey = #E1E4E8;
$slateGreyTwo = #586069;
$white = #FFFFFF;
$whiteTwo = #E3E3E3;
$blueLink = #3598DB;
$tabletMax = 1024px;
$mobileMax = 768px;

.line {
  position: absolute;
  width: 100vw;
  border-bottom: 1px solid $paleGrey;

  @media screen and (max-width: $tabletMax) {
    left: -35px;
  }
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: 'Arial';
  font-size: 10px;
  position: relative;
  overflow-x: hidden;
}

.container {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  background-color: $slateGrey;

  .header-content {
    display: flex;
    align-items: center;
    padding: 10px 0;

    span {
      &.header-text {
        color: $whiteTwo;
        font-size: 18px;
        padding-left: 10px;

        strong {
          color: $white;
        }
      }
    }
  }
}

section {
  &.user-dashboard {
    .user-content {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;

      @media screen and (max-width: $mobileMax) {
        padding-top: 10px;
      }

      .user-profile {
        display: flex;
        flex-direction: column;
        align-items: center;

        .img-profile {
          width: 300px;

          @media screen and (max-width: $tabletMax) {
            width: 85px;
          }

          img {
            width: 100%;
            border-radius: 50%;
          }
        }

        .user-info {
          text-align: center;

          @media screen and (max-width: $tabletMax) {
            text-align: left;
            padding-left: 20px;
          }

          h4 {
            &.user-name {
              font-size: 16px;
              line-height: 24px;
              color: $slateGrey;
              padding-top: 10px;

              @media screen and (max-width: $tabletMax) {
                font-size: 20px;
                line-height: 32px;
              }
            }
          }

          span {
            &.user-bio {
              font-size: 14px;
              line-height: 22px;
              color: $warmGrey;
            }
          }
        }

        @media screen and (max-width: $tabletMax) {
          flex-direction: row;
          padding: 20px 0 60px;
        }

        @media screen and (max-width: $mobileMax) {
          padding-bottom: 40px;
        }
      }

      .user-panel {
        width: 70%;         /* @media screen and (max-width: $tabletMax) {
          width: 100%;
        } */

        .tab {
          .tab-line {
            @extend .line;
            padding-top: 9px;
          }

          a {
            color: $slateGrey;
            font-size: 14px;
            padding-left: 30px;
            position: relative;

            @media screen and (max-width: $tabletMax) {
              font-size: 16px;
            }

            span {
              &.tab-num {
                background-color: $whiteTwo;
                font-weight: 600;
                border-radius: 30%;
                padding: 2px 5px;
                margin-left: 8px;
              }
            }

            &.active {
              &:before {
                content: '';
                height: 4px;
                left: 10px;
                position: absolute;
                bottom: -10px;
                width: 100%;
                background-color: $orange;
              }
            }
          }
        }

        input {
          &.search {
            border: 1px solid $whiteTwo;
            border-radius: 3px;
            margin-top: 50px;
            padding: 8px;
            width: 250px;
          }
        }

        ul {
          &.card-projects {
            li {
              padding-top: 55px;

              .card-line {
                @extend .line;
                padding-top: 25px;
              }

              a {
                &.project-name {
                  font-size: 18px;
                  color: $blueLink;
                }
              }

              p {
                &.project-description {
                  font-size: 12px;
                  color: $warmGrey;
                  padding-top: 10px;
                }
              }

              .details-project {
                padding-top: 20px;
                display: flex;
                align-items: center;

                a {
                  display: flex;
                  align-items: center;
                }

                svg {
                  &.UnderlineNav-octicon {
                    fill: $warmGrey;
                  }

                  &.octicon-repo-forked {
                    fill: $warmGrey;
                  }
                }

                span {
                  font-size: 12px;
                  color: $warmGrey;
                  padding-right: 25px;
                  padding-left: 5px;
                }
              }
            }
          }
        }
      }

      @media screen and (max-width: $tabletMax) {
        flex-direction: column;
      }
    }
  }
}

.hide {
  position: absolute !important;
  top: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, height 0s ease 0.3s;
}

.show {
  opacity: 1;
  height: auto;
  transition: opacity 0.3s ease, height 0s ease 0s;
}
